/* стилизуем полноценную корзину */

.basket-item {
    z-index: 15;
    position: absolute;
    position: fixed;
    width: 90%;
    max-width: 700px;
    /* opacity: 1; */
    transition: 1s;

    animation: show 500ms ease-in-out;
}

/* создаём анимацию для плавного появления корзины */
@keyframes show{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* стилизуем кнопку "оформить" */
.btn {
    font-size: 0.8rem !important;
}

/* стлизуем расположение элементов внутри строки с товаров */

.basket-quan{
    vertical-align: middle;
}

/* стилизуем название корзины */
.basket-items-name {
    font-size: 1.3rem;
    font-weight: bold;
}


/* стилизуем крестик */
.secondary-content {
    font-size: 2rem;
    max-height: 35px;
    max-width: 35px;
    cursor: pointer;
}
.material-icons {
    font-size: 2rem;
}

/* класс разделяет элементы внутри строчки с товаром внутри корзины */
.item-separator {
    /* font-size: 1.3rem; */
    margin: 0 1rem;
    cursor: pointer;
}