body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* стилизуем header */
.nav-wrapper {
  padding: 0 1rem;
}

/* стилизуем название проекта */
.nav-wrapper {
  text-align: center;
}
.logoName {
  font-size: 2rem;
  font-weight: bolder;
}

.preloader {
  height: 70vh;
  display: flex;
  align-items: center;
}

/* стилизуем main */
.main {
  min-height: calc(100vh - 64px - 70px);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

/* стилизуем footer */
.page-footer {
  max-height: 50px;
}


/* создаём грид систему для карточек с товарами */
.good-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}


/* стилизуем кнопку добавить и цену в карточке товара */
.card-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* стилизуем цену товара */
.item-price {
  font-size: 1.5rem;
  font-weight: bolder;
  color: rgb(53, 201, 66);
}

/* стилизуем кнопку добавления товара */
.cssbuttons-io-button {
  width: 102px;
  height: 45px;
  display: flex;
  justify-content: center;
}

/* стилизуем нажатую кнопку */
.clicked-btn {
  background: rgb(30, 182, 70) !important
}
.added-span {
  font-size: 14px;
}


/* стилизуем расположение корзины для мобильной версии. в media укажем стилизуем для компьютерной */
.cartBasket {
  display: flex;
  align-items: center;

  position: fixed;
  z-index: 10;
  bottom: 4rem;
  right: 3rem;
  padding: 0.5rem 0.3rem;
  cursor: pointer;
}
/* стилизуем Корзину-Cart */
.material-icons {
  font-size: 2.5rem;
}
/* цифра с количеством товаров в корзине */
.goodsQuantiti {
  font-size: 1.5rem;
  padding: 0 0.2rem;
  font-weight: bolder;
}


/* стилизуем всплывающее окно о добавлении товара в коризну */
.toast-position {
  position: fixed;
  top: 50%;
  /* top: unset; */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  animation: showSlow 500ms ease-in-out;
}


/* создаём анимацию для плавного поялвения подсказки о добавлении товара */
@keyframes showSlow{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




  /* медиа запрос срабатывает от величины экрана в 610px */
  @media (min-width: 610px) {
    .card {
      min-height: 550px;
      /* height: */
    }

    .card-content {
      min-height: 150px;
    }

    .cartBasket {
      bottom: unset;
      top: unset;
    }

    .toast-position {
      top: 8rem;
      left: 50rem;
      transform: none;
    }
  }